<div class="row">
<h1> Chats </h1>
<p> Hello, <%= current_user.username %> </p>
</div>
<% @chats.each do |chat| %>
<div class="chat">
	<p> 
		<%=chat.name%>
		<%= link_to 'Open', chat_path(chat.id), class: 'btn btn-primary btn-sm' %>
	</p>
</div>
<% end %>
<%= link_to 'New', new_chat_path, class: 'btn btn-success' %>
